@model IEnumerable<LibraryManagementSystem.Models.Section>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Shelves" asp-action="index">@Html.DisplayFor(modelItem => item.name) </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SectionId">Edit</a> |
                <a asp-controller="shelves" asp-action="index" asp-route-id="@item.SectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
